/* Reset some default styles */
body, h1, table {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2e;
    color: #b3b3b6;
    line-height: 1.6;
}

/* Header styles */
header {
    background: #438e96;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    border-radius: 50%;
}

/* Main styles */
main {
    padding: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #438e96;
    color: white;
}

/* Button styles */
button {
    background-color: #438e96;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}   

.button-container {
    text-align: center;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #4b9bb1;
}